/* Root settings  */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


:root {
    --bright-tangerine: #ffd208;
    --tangerine: #f5c325;
    --orange: #fc9745;
    --grapefruit: #ff7348;
    --strawberry: #fd5a5c;
    --dragonfruit: #f2456f;
  
    --lightseagreen100: #e6f2f3;
    --lightseagreen200:#cce4e6;
    --lightseagreen: #6DB9C2;
    --seagreen300:#80bcc1;
    --seagreen400:#33949b;
    --seagreen: #007982;
    --seagreen700: #00555b;
    --seagreen800: #003034;
  
    --tangerine-gradient: linear-gradient(90deg, #f5c325, #ffd208);
    --orange-gradient: linear-gradient(90deg, #fc9745, #ff7348);
    --teal-gradient: linear-gradient(90deg, #007982, #6DB9C2 );
  
    --white: #fff;
    --lightGray100: #fcfcfc;
    --lightgray300: #6c757d;
    --darkGray: #5d5c5c;
    --darkGray800: #333;
    --darkGray900: #111;
  
    --bs-primary: #00555b;
    --bs-secondary: #007982;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;

    font-family: "Montserrat", sans-serif;
    font-size: 16px;
  }

body {
  background-color: var(--bs-light);
}

/* Fonts */
  
h1 {
    font-family: "Playfair Display", serif;
    font-size: 3.7rem;
    line-height: 1.3em;
    margin: 1em  0;
  }
  
  h2 {
    font-family: "Playfair Display", sans-serif;
    font-size: 3rem;
    color: var(--darkGray800);
    margin-bottom: 0.8em;
  }
  
  h3 {
    font-weight: 600;
    font-size: 1.5rem;
    margin: 0.5rem 0;
    color: var(--darkGray800);
    margin-bottom: 0.5rem;
  }
  
  h4 {
    color: var(--darkGray);
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
  }
  
  p {
    font-weight: 300;
    color:var(--darkGray900);
    line-height: 1.3em;
  }

  p + p {
    margin-top: 1.2rem;
  }

  li,
  a,
  button {
    color: #fff;
    font-weight: 500;
    text-decoration: none;
  }

  input, button, select {
    background: none;
    border: none;
    font: inherit;
  }

  button {
    cursor: pointer;
  }

  img {
    height: auto;
  }

  select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  /* Colors */

  .bg-tangerine {
    /* Tangerine is for creative tools and resources */
    background-image: linear-gradient(90deg, #f5c325, #ffd208);
  }
  
.bg-teal {
  /* For coaching and professional services */
    background-image: linear-gradient(90deg, #007982, #6DB9C2 );
  }

.bg-black {
    background-color: #000;
  }

.bg-white {
    color: white;
}

.dark {
    color: var(--seagreen700);
    font-weight: 600;
}

.light {
    color: white;
    font-weight: 600;
}

/* Containers */

.grid-main-container {
    display: grid;
    padding: 2rem;
}

.grid-2-col-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.grid-3-col-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

.grid-4-col-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
}

.center-grid-container {
    place-content: center;
    align-items: center;
    justify-content: center;
}

.flex-main-container {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-items: center;
    margin: auto;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  max-width: 2400px;
  padding: 1rem;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  height: 48px;
  padding-inline: 24px;
  max-width: max-content;
  transition: all 0.3 ease-in-out;
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: var(--teal-gradient);
  color: var(--bs-light);
  z-index: 100;
  transition: 0.5s;
}

header svg {
  max-height: 50px;
  transition: 0.5s;
  fill: white;
}

.logo {
  cursor: pointer;
  margin-right: auto;
}

header .navigation {
  position: relative;
  display: flex;
  transition: transform 0.3s ease-in-out;
}

header .navigation li {
  list-style: none;
  margin-left: 1em;
}

header .navigation li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  font-weight: 500;
  padding: 1rem;
  transition: all 0.3s ease 0s;
}

ul li {
display: inline-block;
position: relative;
}

.navigation:hover > ul{
  visibility: visible;
  opacity: 1;
  display: block;
  text-align: left;
  box-shadow: 0px 3px 5px -1px #ccc;
  background-color: white;
  z-index: 999;
} 

.menuToggle {
  display: none;
  font-size: 30px;
  cursor: pointer;
  transition: transform 0.5s
  margin-left: 1rem;
}

.menuToggle::before {
  content: "\2630";
  margin-left: 1rem;
}

header .dark li a {
  color: var(--seagreen800);
}

header .navigation li a:hover {
  color: var(--seagreen800);
  background-color: #f1f1f1;
  opacity: 0.9;
}

header.sticky {
  background: rgb(240, 240, 240); 
  fill: #003034;
  opacity: 80%;
  padding: 1em 5em;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
  max-width: calc(100vw+75px);
}

header.sticky svg path {
  fill: #003034;
}

header.sticky .navigation li a {
  color: var(--seagreen800);
}

header.sticky .navigation li a:hover {
  color: #fff;
  background-color: var(--seagreen800);
  opacity: 1;
}

header.sticky .nav-button {
  color: var(--seagreen800);
  border: 1px solid #003034;
}

header.sticky .nav-button:hover {
  background: var(--seagreen800);
  color: #fff;
}

.nav-button, .light-button {
  border: 1px solid #fff;
  padding: 1em 1.5em;
  transition: all 0.5s ease 0s;
  margin-left: 1em;
}

.nav-button {
  color: white;
}
.nav-button::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f073";
  display: inline-block;
  margin-right: 0.5em;

  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.nav-button:hover, .light-button:hover {
  background: #fff;
  color: var(--seagreen800);
}

.mobile-only {
  display: none;
}




/* Media queries */

@media (max-width: 1380px) {

  .wrapper {
    width: 100%;
    }

  header .navigation {
      display: none;
    }

  header .navigation.active {
      width: max-content;
      height: 100%;
      position: fixed;
      top: 70px;
      right: 0;
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      flex-direction: column;
      background: rgba(255, 255, 255, 0.9);
      box-shadow: -5px 5px 15px hsla(184, 100%, 18%, 0.2);
      color: #003034;
      padding: 2rem 2rem;
      border-top-left-radius: 1rem;
      transition: content 0.3s ease;
  }

  header.sticky .navigation.active {
      color: #003034;
  }

  header .navigation.active li {
      color: #003034;
      font-size: 1.6em;
      line-height: 2.1em;
      font-weight: 700;
  }

  .menuToggle {
    display: block;
  }

  .menuToggle.active::before {
    content: "X";
    font-size: 30px;
  }

  header.sticky .menuToggle {
      filter: invert(1);
  }

  header .navigation.active a {
      color: var(--seagreen800);
      font-size: 70%;
      padding: 0.2em;
  }

  header .navigation.active a:hover {
      color: var(--lightseagreen);
      background: none;
  }

  .navigation.active {
    display: flex;
  }
}


/* Mobile phone */

@media (max-width: 580px) {
      .mobile-only {
        display: block;
      }
      .nav-button {
        display: none;
      }
   }